@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

* {
  background-color: #8c8c8c;
  font-family: "Nunito", sans-serif;
  color: #d1d1d1;
  /* text-shadow: 5px 5px rgb(51, 51, 51); */
}

body {
}

.main-btn {
  border: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* font-size: 2rem; */
  /* width: 20rem; */
  /* border: 1px solid white; */
  max-height: 30rem;
  /* padding: 1rem; */
  border-radius: 1rem;
  padding: none;
}

.header-logo-img {
  max-height: 5rem;
  margin-top: 2 rem;
}

.btn-img {
  max-height: 20rem;
  /* border: 1px solid white; */
  flex: auto;
  border-radius: 1rem;
}

.button-holder {
  display: flex;
  /* width: 90%; */
  justify-content: center;
  /* gap: 5rem; */
  /* border: 1px solid white; */
  flex-wrap: wrap;
  padding: none;
}

#main-container {
  display: flex;
  flex-direction: column;
  /* border: 1px solid white; */
  align-items: center;
  /* justify-content: center; */
}

/* #header-logo {
  display: flex;
  max-width: 50rem;
  flex: 1, 1, auto;
} */

#header-container-inner {
  display: flex;
  justify-content: center;
  /* border: 1px solid white; */
  flex-wrap: wrap;
  padding: 1rem;
}
#header-container-outer {
  margin: 1rem;
  display: flex;
  justify-content: center;
}

#scores-container-outer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.score-img {
  flex-shrink: 1;
}

#commit-img {
  display: flex;
  flex: auto;
  max-width: 370px;
  border-radius: 1rem;
}
#commit-container {
  display: flex;
}
#commit-btn {
  border: none;
  margin: 1rem;
  border-radius: 1rem;
}

.shadow {
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.hidden {
  display: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;

  padding: 6rem;
  border-radius: 3rem;
  /* box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3); */
  z-index: 10;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(133, 133, 133, 0.2);
  backdrop-filter: blur(5px);
  z-index: 5;
}
