/* @import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap"); */

@font-face {
  font-family: "Neon Nanoborg";
  src: url("neon-nanoborg.otf") format("oft");
}

* {
  background-color: #8c8c8c;
  font-family: "Neon Nanoborg";
  /* font-family: "Nunito", sans-serif; */
  color: #d1d1d1;

  /* text-shadow: 5px 5px rgb(51, 51, 51); */
}

img {
  max-width: 100%;
}

body {
}

.main-btn {
  border: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* font-size: 2rem; */
  /* width: 20rem; */
  /* border: 1px solid white; */
  max-height: 30rem;
  /* padding: 1rem; */
  border-radius: 1rem;
  padding: none;
}

.header-logo-img {
  max-height: 5rem;
  margin-top: 2 rem;
}

.btn-img {
  max-height: 20rem;
  /* border: 1px solid white; */
  flex: auto;
  border-radius: 1rem;
}

.button-holder {
  display: flex;
  /* width: 90%; */
  justify-content: center;
  /* gap: 5rem; */
  /* border: 1px solid white; */
  flex-wrap: wrap;
  padding: none;
}

#main-container {
  display: flex;
  flex-direction: column;
  /* border: white 1px solid; */
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 100%;
}

/* #header-logo {
  display: flex;
  max-width: 50rem;
  flex: 1, 1, auto;
} */

#header-container-inner {
  display: flex;
  justify-content: center;
  /* border: 1px solid white; */
  flex-wrap: wrap;
  padding: 1rem;
}
#header-container-outer {
  margin: 1rem;
  display: flex;
  justify-content: center;
}

#scores-container-outer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.score-img {
  flex-shrink: 1;
}

#commit-img {
  display: flex;
  flex: auto;
  max-width: 370px;
  border-radius: 1rem;
}
#commit-container {
  display: flex;
}
#commit-btn {
  border: none;
  margin: 1rem;
  border-radius: 1rem;
}

.shadow {
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  border: 0.1rem #dddddd solid;
}

.hidden {
  display: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* max-width: 90%; */
  background-color: rgba(133, 133, 133, 0.3);
  padding: 2rem 4rem;
  border-radius: 3rem;
  border: white solid 2px;
  z-index: 10;
  font-size: 40px;
  /* max-height: 90%; */
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(133, 133, 133, 0.5);
  backdrop-filter: blur(5px);
  z-index: 5;
}

#modal-container {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  align-items: center;
  /* border: pink solid 2px; */
}

#next-round-img {
  max-width: 50rem;
  border-radius: 1rem;
  border: white solid 2px;
  padding: 1rem;
}

#modal-score-container {
  display: flex;
  justify-content: space-between;
  /* border: orange solid 2px; */
  width: 50%;
}

#score-result-contatiner {
  display: flex;
  align-items: center;
  /* border: orange solid 2px; */
  padding: 2rem;
  /* flex-wrap: wrap; */
  justify-content: center;
  /* max-height: 100%; */
}

.result {
  max-width: 20rem;
}

.move-img {
  border-radius: 1rem;
  max-width: 10rem;
  /* flex: auto; */
  /* border: #f21527 solid 0.3rem; */
}

.transparent {
  background-color: rgba(133, 133, 133, 0);
}

.shadow-red {
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  border: 0.2rem #f21527 solid;
}

.shadow-green {
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  border: 0.2rem #08d004 solid;
}

.modal-score {
  max-width: 7rem;
}

#game-over-modal-container {
  display: flex;
  flex-direction: column;
  /* border: white 1px solid; */
  align-items: center;
}

#new-game-img {
  min-width: 10rem;
  border-radius: 1rem;
  /* border: white 1px solid; */
}

#game-over-score-result-contatiner {
  display: flex;
  align-items: center;
  /* border: white 1px solid; */
  flex-wrap: wrap;
  justify-content: center;
}

#game-over-result-img {
  /* min-width: 15rem; */
}

#winning-scores-container {
  display: flex;
  justify-content: center;
  /* border: white 1px solid; */
}

#game-over-result-inner-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#reset-img {
  max-width: 10rem;
  border-radius: 1rem;
  /* padding: 0.5rem; */
  /* margin: 0.5rem; */
}

.move-container {
  display: flex;
  flex-direction: column;
}
