@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

* {
  background-color: dimgrey;
  font-family: "Nunito", sans-serif;
  color: rgb(200, 196, 200);
  /* text-shadow: 5px 5px rgb(51, 51, 51); */
}

body {
}

.main-btn {
  border: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2rem;
  /* width: 20rem; */
  border: 1px solid white;
  max-height: 30rem;
  padding: 1rem;
  border-radius: 1rem;
}

.btn-img {
  max-height: 15rem;
  /* border: 1px solid white; */
  flex: auto;
}

.button-holder {
  display: flex;
  width: 90%;
  justify-content: center;
  gap: 5rem;
  /* border: 1px solid white; */
  flex-wrap: wrap;
  padding: 1rem;
}
